* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    border: 3px solid magenta
}

nav {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 4fr 2.5fr 5fr;
    row-gap: 50px;
    background-color: skyblue;
}
    #logo {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        nav li, #logo {
            display: grid;
            grid-template-columns: 1fr 4fr;
            padding: 10px;
        }

        .icon {
            margin: 0px 20px;
        }

        .dash-icon {
            width: 75%;
            justify-content: center;
            height: auto;
        }

        .nav-icon {
            width: 40%;
            justify-content: center;
            height: auto;
        }

        .header-icon {
            width: 4%;
            margin: 0px 10px;
            justify-content: center;
        }

        #header-pic {
            width: 7%;
            margin: 0px 20px;
            justify-content: center;
        }

        #profile-pic {
            width: 10%;
            margin: 0px 10px;
            justify-content: center;
        }

        #title-pic {
            width: 10%;
            margin: 0px 20px;
        }

        .project-icons {
            display: flex;
            justify-content: flex-end;
        }
            .project-icons > svg {
                width: 6%;
                margin: 20px 12.5px;
            }

        .trend-pic {
            width: 15%;
            height: 15%;
            margin: 0px 20px;
            justify-content: center;
        }

        #profile-text {
            margin: 0px 20px;
        }
        div#logo, div#overview, div#config {
            background-color: orangered;
            border: 1px solid black;
        }

#main-content {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 4fr;
    
}

header {
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
}

p {
    margin: 0;
}

header, nav, main {
    border: 1px solid black;
}

h3, h4, h5, h6 {
    margin: 5px 0px;
}
    #search-area, #profile-area, #title-area, #buttons-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 40px;

    }
        #search-bar {
            width: 100%;
            height: 40%;
            background-color: #CCCCCC;
            padding: 10px;
            border-radius: 15px;
            border: 1px solid #CCCCCC;
        }
    #profile-area {
        justify-content: flex-end;
        margin: 0px 40px;
    }
        #profile-text {
            font-weight: bold;
        }
    #buttons-area {
        justify-content: flex-end;
        padding: 10px;
    }
    #buttons-area {
        column-gap: 15px;
    }
        button {
            font-size: 0.9rem;
            font-weight: bold;
            padding: 10px 30px;
            border-radius: 30px;
            border: none;
        }

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-content: start;
    background-color: #CCCCCC;
}
    #projects-heading, #news-area > div > h3 {
        font-weight: bold;
        margin-top: 30px;
        margin-left: 15px;
    }
    #projects-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project {
        display: grid;
        justify-content: center;
        align-items: flex-start;
        background-color: #FFFFFF;
        border-radius: 7.5px;
        border-left: 7.5px solid goldenrod;
        box-shadow: 2px 3px 6px #888888;
        padding: 20px 40px;
        margin: 15px 15px;
    }
        .project > p, .trend-blurb > p {
            color: dimgray;
        }
        .project-icons {
            justify-self: flex-end;
        }

    #news-area {
        display: grid;
    }

    .announcements {
        border: none;
        font-size: 10pt;
    }
    .announcement:not(:last-child) {
        padding: 10px 0px;
        border-bottom: 1px solid dimgray;
      }
      
    .trends {
        border: none;
        padding: 10px;
    }

    .project.trends, .project.trends > .icon {
        justify-content: flex-start;
    }

    .trend-blurb {
        display: flex;
        align-items: center;
    }
    