* {
    box-sizing: border-box;
}

/* Colors from tailwindcss: https://tailwindcss.com/docs/customizing-colors */
:root {
    --tw-main-slate-200: #e2e8f0;
    --tw-nav-sky-500: #0ea5e9;
    --tw-border-amber-400: #fbbf24;
    --tw-shadow-gray-300: #d1d5db;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    font-size: 1rem;
}

nav {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 4fr 2.5fr 5fr;
    row-gap: 50px;
    background-color: var(--tw-nav-sky-500);
    color: white;
}

header {
    display: grid;
    background-color: white;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    box-shadow: 0 5px 10px -5px var(--tw-shadow-gray-300);
    z-index: 1;
}

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-content: start;
    background-color: var(--tw-main-slate-200);
    
}

p {
    margin: 0;
}

button {
    background-color: var(--tw-nav-sky-500);
    color: white;
    font-size: 0.625rem; /*fallback size*/
    font-size: clamp(0.625rem, calc(0.625rem + 0.25vw), 1.25rem);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li, #logo {
    display: flex;
    font-size: 1.25rem; /*fallback size*/
    font-size: clamp(1.25rem, calc(1.25rem + 0.25vw), 1.25rem);
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

h3, h4, h5, h6 {
    margin: 5px 0px;
}

.icon {
    margin: 0px 20px;
}

    .dash-icon {
    width: calc(40px + 0.25vw);
    margin: 0px 10px;
    }

    .nav-icon {
    width: calc(20px + 0.25vw);
    margin: 0px 20px;
    }

    .header-icon {
        width: calc(20px + 0.25vw);  
        margin: 0px 10px;
    }

    .project-icons {
        display: flex;
        justify-content: flex-end;
    }
        .project-icons > svg {
            width: calc(20px + 0.25vw);
            margin: 20px 12.5px;
        }

.project {
    display: grid;
    justify-content: center;
    align-items: start;
    background-color: white;
    border-radius: 7.5px;
    border-left: 7.5px solid var(--tw-border-amber-400);
    box-shadow: 2px 3px 4px var(--tw-shadow-gray-300);
    padding: 20px 40px;
    margin: 15px 15px;
}

.announcements {
    border: none;
    font-size: 0.9rem;
}

    .announcement > p {
        padding-bottom: 10px;
        }

    .announcement:not(:last-child) {
        padding: 10px 0px;
        border-bottom: 1px solid var(--tw-shadow-gray-300);
      }

.trends {
    border: none;
    padding: 10px;
    }

    .trend-pic {
        width: calc(50px + 0.25vw);
        margin: 0px 20px;
        justify-content: center;
    }

    .trend-blurb {
        display: flex;
        align-items: center;
    }

        .trend-blurb-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

            .project.trends, .project.trends > .icon {
                justify-content: start;
                align-items: center;
            }

                .project > p, .announcement > p, .trend-blurb-text > p:nth-child(2) {
                    color: #6b7280;
                }

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

#search-bar {
    width: 50vw;
    height: 3.75vh;
    background-color: var(--tw-main-slate-200);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--tw-main-slate-200);
}

#profile-area {
    justify-content: center;
    margin: 0px 40px;
}

    #profile-pic {
        width: calc(50px + 0.25vw);
        margin: 0px 10px;
    }
    #profile-text {
        font-weight: bold;
        margin: 0px 20px;
    }

#title-pic {
    width: calc(75px + 0.25vw);
    margin: 0px 20px;
}

#buttons-area {
    justify-content: end;
    padding: 10px;
    column-gap: 15px;
}

#main-content {
    display: grid;
    height: auto;
    grid-template-rows: 1fr 4fr;
    
}

#projects-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#news-area {
    display: grid;
}

        #projects-heading, #news-area > div > h3 {
            font-weight: bold;
            margin-top: 30px;
            margin-left: 15px;
        }

                #announcement-area, #trending-area, .project.announcements, .project.trends {
                    height: 89%;
                }

                #search-area, #profile-area, #title-area, #buttons-area {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0px 40px;

                }

                    .dash-icon, .nav-icon, .header-icon, #header-pic, #profile-pic, #title-pic {
                        justify-content: center;
                        align-content: center;
                    }