* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: lightgray;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 2fr 7fr 3fr 6fr;
    background-color: skyblue;
    row-gap: 50px;
}
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        nav li, #logo {
            display: grid;
            grid-template-columns: 1fr 4fr;
            padding: 10px;
        }

        .icon {
            width: min-content;
        }

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: gray;
}

header, nav, main {
    border: 1px solid black;
}

div#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "nav header header header"
        "nav main main main"
        "nav main main main"
        "nav main main main";
    height: 100%;
    border: 3px solid magenta
}

div#logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

div#logo, div#overview, div#config {
    background-color: orangered;
    border: 1px solid black;
}